.Footer{
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    height: 15vh;
}

.build-tag{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: center;
    background-color: #C1C1C1;
    border-radius: 2vw;
    width: 25%;
    height: 60%;
}

.build-tag img{
    width: 7vw;
}

.build-tag p{
    font-size: 1.1vw;
    padding: 1vw;
}
