.Footer {
    display: flex;
    flex-direction: column;
    background-color: orange;
}
.footer-links-text {
    background-color: #333333;
    color: #C1C1C1;
    text-align: center;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
}

.footer-links-container {
    display: flex;
    justify-content: space-around;
    background-color: #C1C1C1;
}

.footer-link {
    height: 60px;
    padding-top: 5px;
}

.footer-link img {
    max-width: 50px;
}

