.Home-menu{
    height: 60vh;
    width: 95vw;
    display: grid;
    grid-template-columns:[left-margin] 35% [page-left] 30% [center-column] 30% [page-right];
    grid-template-rows:[page-top] 45% [center-row] 45% [page-bottom]; 
    align-items: center;
    justify-items: center;
}

.github-link{
    grid-column: page-left / center-column;
    grid-row: page-top / center-row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/github-screen.jpg);
    background-position: center;
    background-size: cover;
    width: 75%;
    height: 35%;
    border-radius: 4rem;
}
.linkedin-link{
    grid-column: center-column / page-right;
    grid-row: page-top / center-row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/linked-screen.jpg);
    background-position: center;
    background-size: cover;
    width: 75%;
    height: 35%;
    border-radius: 4rem;
}
.contact-link{
    grid-column: page-left / center-column;
    grid-row: center-row / page-bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-link{
    grid-column: center-column / page-right;
    grid-row: center-row / page-bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 1000px), (max-height: 800px) {
    .Home-menu{
        display: flex;
    }
}
