.Home-menu{
    height: 60vh;
    width: 95vw;
    display: grid;
    grid-template-columns:[left-margin] 35% [page-left] 30% [center-column] 30% [page-right];
    grid-template-rows:[page-top] 45% [center-row] 45% [page-bottom] 10% [below-menu]; 
    align-items: center;
    justify-items: center;
    z-index: 2;
    margin-bottom: 5px;
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item img{
    transition: all .15s linear;
}

.menu-item img:hover{
    transform: scale(1.2);
}

.menu-item img:active{
    transform: scale(.9);
}

.portrait-image{
    grid-column: left-margin / page-left;
    grid-row: page-top / center-row;
    height: 99%;
}

.github-link{
    grid-column: page-left / center-column;
    grid-row: page-top / center-row;
    background-image: url(../images/github-screen.jpg);
    background-position: center;
    background-size: cover;
    width: 75%;
    height: 35%;
    border-radius: 4rem;
}

.linkedin-link{
    grid-column: center-column / page-right;
    grid-row: page-top / center-row;
    background-image: url(../images/linked-screen.jpg);
    background-position: center;
    background-size: cover;
    width: 75%;
    height: 35%;
    border-radius: 4rem;
}

.contact-link{
    grid-column: page-left / center-column;
    grid-row: center-row / page-bottom;
}

.projects-link{
    grid-column: center-column / page-right;
    grid-row: center-row / page-bottom;
}

.select-option-text{
    display: flex;
    justify-content: center;
    grid-column: page-left / page-right;
    grid-row: page-bottom / below-menu;
    width: 100%;
    color: whitesmoke;
    font-size: 2rem;
}

.shimmer {
    text-align: center;
    color: #0f100f1a;
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
  }

@media only screen and (max-width: 1000px), (max-height: 800px) {
    .Home-menu{
      margin-bottom: 8rem;
    }

    .menu-item{
        width: 30vw;
        margin: 1rem;
        background: none;
    }

    .menu-item img{
        width: 100%;
    }

    .Home-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .portrait-image{
        width: 100%;
        height: 15vh;
    }
    .portrait-image img{
        height: 100%;
    }

    .menu-item img{
        transition: all .15s linear;
    }

    .menu-item img:hover{
        transform: scale(.75);
    }

    .menu-item img:active{
        transform: scale(1);
    }

    .select-option-text{
        align-items: center;
        font-size: 1.2rem;
    }

}

@-moz-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-webkit-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-o-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
