html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.page-wrapper{
    height: 100vh;
    width: auto;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}