.Home-title-day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    background-color: #FBFBFB;
    background: -webkit-linear-gradient(bottom left, #FBFBFB, #E97434);
    background: -moz-linear-gradient(bottom left, #FBFBFB, #E97434);
    background: linear-gradient(to top right, #FBFBFB, #E97434);
    border-radius: 0 1em 1em 0;
    width: 90%;
    height: 20%;
    box-shadow: 2px 5px rgba(255, 2555, 255, .3);
}

.Home-title-night{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    background-color: #03fcf4;
    border-radius: 0 1em 1em 0;
    width: 90%;
    height: 20%;
    box-shadow: 2px 5px rgba(255, 2555, 255, .3);
}

.Title, .Subtitle {
    min-width: 100%;
    margin-left: 20px;
}

.Title h1{
    font-family: "Krona One", sans-serif;
    margin: .5rem 1rem;
    font-size: 6rem;
}

.Subtitle h3{
    font-family: "Saira Semi Condensed", sans-serif;
    text-transform: uppercase;
    margin-left: 1rem;
    font-size: 2rem;
}

@media only screen and (max-width: 1000px), (max-height: 800px) {
    .Home-title{
        margin-top: 3rem;
    }

    .Title h1{
        margin-left: .1rem;
        font-size: 3rem;
    }

    .Subtitle h3{
        margin-left: .1rem;
        font-size: 1.5rem;
    }
}