.Page-header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

.header-logo {
    max-width: 400px;
    margin-top: 1em ;
}

.header-nav {
    width: 100%;
}

.header-nav-list {
    margin: 0 auto;
    width: 80%;
    justify-content: space-around;
    display: flex;
    list-style: none;
}

.header-nav-list li {
    
}

.header-nav-link {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
    padding: .5em;
    transition: .5s;
}

.header-nav-link:hover {
    background-color: rgba(3,252,244,0.3);
}