.Page-header{
    background: #333333;
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

.header-logo img{
    margin: 1rem 0 1rem 3rem;
}

ul{
    display: flex;
    height: 100%;
    margin: 0 2rem 0 0;
}

.header-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
    opacity: .2;
    border-radius: 8px;
    width: 10vw;
    margin-right: 1rem;
}

ul li{
    font-size: 1.3rem;
    list-style: none;
    color: #C1C1C1;
}

ul a{
    text-decoration: none;
}