.Projects-body {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 90%;
}

.projects-wrapper {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333333;
    color: white;
    margin: 1em 0.5em;
    padding: 1.5em;
    min-width: 300px;
    min-height: 500px;
    max-width: 30%;
    border: 3px solid #03fcf4;
    border-radius: 2em;
}

.project:hover {
    transform: scale(1.1);
    border: 5px solid rgb(255, 0, 255);
    transition-duration: .7s;
}

.project-img-wrapper {
    max-width: 90%;
    border: 3px solid #03fcf4;
    border-radius: 1em;
    padding: 1.3em;
    margin-bottom: .8em;
}

.project-title {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.project-link a {
    color: #03fcf4;
    text-decoration: none;
}

.project-link a:hover {
    color: rgb(255, 0, 255);
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin-top: 1.5em;
}